html{
    box-sizing: border-box;
}
html *{
    box-sizing: inherit;
}
body {
    margin: 0;
    height: 3000px;
    position: relative;
}
#navigation {
    position: fixed;
    width: 100%;
    background-color: #000000;
    list-style-type: none;
    padding: 12px;
    top: 0;
    
}
.navigation_pages{
    transition: 0.01s ease-in-out;
    color: #efecec;
    text-decoration: none;
    border-bottom: 1px solid #FFFFFF;
}
.navigation_pages--active{
    color: white;
    border-bottom: 1px solid transparent;
}
.navigation_pages:hover{
    border-bottom: 1px solid transparent;
}
.content{
    margin-top: 100px;
}
.navigation_logo{
    width: 48px;
    height: 48px;
    object-fit: cover;
}
.navigation_group{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.navigation_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.article{
    font-style: bold;
}
.text{
    font-style: italic;
    font-size: 60px;
}
.page_navigation{
    background-color: aqua;
}
.contact_info{ 
    width: 64px;
    height: 64px;
}
